Source: gespeaker
Section: sound
Priority: optional
Maintainer: Fabio Castelli <muflone@vbsimple.net>
Uploaders: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Standards-Version: 3.9.1
Build-Depends: python (>= 2.6), debhelper (>= 7.0.50~)
Build-Depends-Indep: python-support (>=0.6)
Homepage: https://github.com/muflone/gespeaker
Vcs-Svn: svn://svn.debian.org/svn/python-apps/packages/gespeaker/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-apps/packages/gespeaker/trunk/

Package: gespeaker
Architecture: all
Depends: espeak, espeak-data, python-gtk2, python-glade2, python-gobject, python-xdg, alsa-utils | pulseaudio-utils, librsvg2-common, ${misc:Depends}, ${python:Depends}
Suggests: mbrola, devhelp
Description: GTK+ front-end for eSpeak and mbrola
 Gespeaker is a GTK+ frontend for eSpeak and mbrola.
 It allows one to play a text in many languages with settings 
 for voice, pitch, volume, speed and word gap.
 .
 Since version 0.6 it can use mbrola package and voices to
 obtain a more realistic text reading experience.

