#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

DEB_PYTHON_SYSTEM=pysupport
DEB_PYTHON_INSTALL_ARGS_ALL += --install-lib=/usr/share/gespeaker

%:
	dh $@

clean:
	dh $@
	rm -fr build

