<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="../resources/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../themes/{{ page.layout }}/architects-fonts.css" >
    <link rel="stylesheet" type="text/css" href="../themes/{{ page.layout }}/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../themes/{{ page.layout }}/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../themes/{{ page.layout }}/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="../themes/{{ page.layout }}/stylesheet2.css" media="screen" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ page.title }}</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="/"><img src="../resources/archive/latest/icon128.png" style="width: 128px; height: 128px; padding-right: 20px;" align="left"></a>
        <h1>{{ site.name }}</h1>
        <h2>{{ page.title}}</h2>
        <a href="{{ site.gitrepo }}" class="button"><small>{% if page.language == 'italian' %}Guarda il progetto su{% else %}View project on{% endif %}</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
{{ content }}
        </section>
        <aside id="sidebar">
{% if page.url != '/index.html' %}
          <ul class="menu1">
            <li class="menu1"><a href="index.html">{% if page.language == 'italian' %}Introduzione{% else %}Introduction{% endif %}</a></li>
            <li class="menu1"><a href="download.html">{% if page.language == 'italian' %}Scarica{% else %}Download{% endif %}</a></li>
            <li class="menu1"><a href="install.html">{% if page.language == 'italian' %}Installazione{% else %}Installation{% endif %}</a></li>
            <li class="menu1"><a href="screenshots.html">{% if page.language == 'italian' %}Schermate{% else %}Screenshots{% endif %}</a></li>
            <li class="menu1"><a href="languages.html">{% if page.language == 'italian' %}Lingue supportate{% else %}Supported languages{% endif %}</a></li>
            <li class="menu1"><a href="mbrola.html">{% if page.language == 'italian' %}Motore MBROLA{% else %}MBROLA engine{% endif %}</a></li>
            <li class="menu1"><a href="mbrola-availability.html">{% if page.language == 'italian' %}Voci MBROLA{% else %}MBROLA voices{% endif %}</a></li>
            <ul class="menu2">
              <li class="menu2"><a href="mbrola-ubuntu1004.html">Ubuntu 10.04</a></li>
              <li class="menu2"><a href="mbrola-ubuntu1010.html">Ubuntu 10.10</a></li>
              <li class="menu2"><a href="mbrola-ubuntu1104.html">Ubuntu 11.04</a></li>
              <li class="menu2"><a href="mbrola-ubuntu1110.html">Ubuntu 11.10</a></li>
              <li class="menu2"><a href="mbrola-ubuntu1204.html">Ubuntu 12.04</a></li>
              <li class="menu2"><a href="mbrola-ubuntu1210.html">Ubuntu 12.10</a></li>
              <li class="menu2"><a href="mbrola-ubuntu1304.html">Ubuntu 13.04</a></li>
              <li class="menu2"><a href="mbrola-debian6.html">Debian 6</a></li>
              <li class="menu2"><a href="mbrola-debian7.html">Debian 7</a></li>
              <li class="menu2"><a href="mbrola-debian8.html">Debian 8</a></li>
              <li class="menu2"><a href="mbrola-debiansid.html">Debian sid</a></li>
              <li class="menu2"><a href="mbrola-opensuse11.html">openSUSE 11</a></li>
              <li class="menu2"><a href="mbrola-opensuse12.html">openSUSE 12</a></li>
              <li class="menu2"><a href="mbrola-opensuse13.html">openSUSE 13</a></li>
              <li class="menu2"><a href="mbrola-archlinux.html">Arch Linux</a></li>
            <ul>
            <li class="menu1"><a href="demo.html">{% if page.language == 'italian' %}Voci dimostrative{% else %}Demo voices{% endif %}</a></li>
            <li class="menu1"><a href="changelog.html">{% if page.language == 'italian' %}Cambiamenti{% else %}Changelog{% endif %}</a></li>
          </ul>
{% endif %}
          <p class="repo-owner"><a href="{{ site.gitrepo }}">{{ site.name }}</a> {% if page.language == 'italian' %}&egrave; sviluppato da{% else %}is developed by{% endif %} <a href="{{ site.gitauthor }}">{{ site.author }}</a>.</p>
          <p>{% if page.language == 'italian' %}Questa pagina usa il tema Architect di{% else %}This page uses the Architect theme by{% endif %} <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>
{% include google-analytics.html %}
  </body>
</html>
